name: Check that the code compiles

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build 
        run: |
          docker run --rm -v $PWD:/app -w /app ghcr.io/rehosting/embedded-toolchains_rust:latest /app/package.sh

